@use "../../styles/main" as *;
.icons{
  margin: 2px 4px;
}
.icons:hover{
  color: $hover-color;
}
.form{
  margin: 1rem;
  display: flex;
  gap: 1rem;

  &_input-container{
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #667fbf;
    background-color: transparent;
    grid-area: input;

  }
  &_input{
    color: #747179;
    background-color: transparent;
    max-width: 200px;
    width: calc(100vw - 100px);
    border: none;
  }
}
@media only screen and (max-width: 600px){
  .form_input{

  }
  .icons{
    font-size: 0.7rem;
  }
}

