@use "../../styles/main" as *;

.container {
  @include flex(column, center, none);
  margin: 0 0.2em;
}

.img {
  @include img();
  transition: 0.2s;
}

.img:hover {
  transform: scale(1.05);
}

.title {
  color: $text-color;
  margin: 1.3rem 1rem;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

@media only screen and (max-width: 600px){
  .img{
    max-width:  150px;
  }
}