.tooltip {
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    position: relative;
    left: 40px;
    background-color: #667fbf;
    color: #191620FF;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 4px;
    overflow: visible;
}
