@use "../../styles/main" as *;

.movie-card{
  @include flex(column, center, none);
  margin: 0 0.2em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__image{
    @include img();
    transition: 0.2s;
  }
  &__image:hover{
    transform: scale(1.05);
  }
  &__title{
    color: $text-color;
    margin: 1.3rem 1rem;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    transition: 0.2s;
  }
  &__title:hover{
    color: $hover-color;
  }
  .icons{
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    gap: 0.4rem;
  }
  i{
    font-size: 1.3rem;
    color: #667fbf;
    transition: 0.3s;
  }
  i:hover{
    font-size: 1.4rem;
    color: white;
  }
}

@media only screen and (max-width: 600px){
  .movie-card__image{
    max-width:  150px;
  }
}
