@use "../../styles/main" as *;


.header{
  @include flex(row, center, space-between);

  padding: 1rem 2rem;


  &__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: height 0.3s ease, background-color 0.3s ease;
  }
  &__item{
    padding: 5px 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: $text-color;
    @include underline();
  }
  &__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-area: list;
  }
}
.logo{
  grid-area: logo;
  flex-grow: 1;
  font-size: 1.5rem;
  font-weight: bold;

}
.logo-item{
  color: #667fbf;
}

@media only screen and (max-width: 43rem){
  .header__content{
    font-size: 0.8rem;
  }
  .header__list{
    display: flex;
    flex-direction: row;
  }
  .header{
    display: grid;
    grid-template-areas: "logo input"
  ". list";
  }
}
