@use "../../styles/main" as *;

.authentication-container{
  margin: 1rem;
  padding: 2rem;
  @include flex(column, right, center);
  gap: 1rem;
  border: 2px solid $hover-color;
  border-radius: 20px;
}
