@use "../../styles/main" as *;

.authentication-container{
  margin: 1rem auto;
  padding: 2rem 4rem;
  @include flex(column, center, center);
  width: fit-content;
  gap: 1rem;
  border: 2px solid $hover-color;
  border-radius: 20px;
  @media only screen and (max-width: 43rem){
    padding: 1.5rem 2rem;
  }
}
.register_btn{
  color: $hover-color;
  border: 2px $hover-color solid;
  padding: 0.8em;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1em;
  transition-duration: 0.4s;
  text-align: center;
}
.register_btn:hover{
  background-color: $hover-color;
  color: white;
}
