@use "../../styles/main" as *;

.slider-film {
  display: grid;
  grid-template-columns: 1fr fit-content(50%);
  margin: 1em auto;
  max-width: 70rem;
  padding: 2%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 2rem;
  background-size: cover;

  @media only screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
  }
}

.slider-film__text-description {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: none;

}

.slider-film__main-info {
  @include flex(row, center, space-between);

  font-weight: bold;
  color: $hover-color;
  padding: 1em;
  background: none;

  &_title{
    color: white;
    font-size: 2.5em;
    text-align: start;
  }
  &_rating{
    color: white;
    font-size: 1.5em;
    background-color: $hover-color;
    border-radius: 30px;
    padding: 0.5em 1.2em;
  }
}
.slider-film__addition-info{
  padding: 1em;
  font-size: 1.2em;
  color: $hover-color;
  @include flex(row, center, space-between);

  &_text_bold {
    @include flex(row, center, right);
    flex-flow: row wrap;
  }
  &_text {
    font-weight: bold;
    color: white;
    padding: 0.5em;
    @include underline();
  }
}
.slider-film_poster {
  @include img();
  margin: 0.5em auto;
  max-width: 30rem;
  width: 100%;
}

@media only screen and (max-width: 600px){
  .slider-film_poster{
    max-width: 300px;
  }
  .slider-film__text-description{
    margin-bottom: 1rem;
  }
  .sliderFilm__main-info_title{
    font-size: 1.5rem;
  }
  .slider-film__addition-info{
    font-size: 0.8rem;
  }
}
